
@media (max-width: 980px) {
  .container {
   	padding-left: 20px;
    padding-right: 20px;
  }
}

body
{
	background: url('/img/page/grey/grey.png');
}

#pageTop
{
	padding: 20px 0;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

	#pageTop img
	{
		height: 40px;
	}
	

.larger-nav-stacked li a
{
	font-size: 1.5em;
	padding: 20px;
}