// non extened object
${{variableName}} = new {{className}}DaoObject();

// extened object
${{variableName}} = new {{className}}();

// fields
{{#columns}}
${{variableName}}->set{{FieldCase}}($val);
{{/columns}}

${{variableName}}->save();
