// non extened object
${{jsonArrayName}} = new {{className}}DaoObject();

// extened object
${{jsonArrayName}} = new {{className}}();

// fields
{{#columns}}
${{jsonArrayName}}->set{{FieldCase}}($val)
{{/columns}}

${{jsonArrayName}}->set{{FieldCase}}($val)
